.gearbox {
	display: flex;
	flex-direction: row;
	height: calc(~'100vh - 80px');
	.gear-selector {
		width: 15em;
		overflow-y: auto;
	}

	.gearbox-control {
		display: flex;
		flex-direction: column;
		flex: 1;
		height: 100%;
		.control-content {
			flex: 1;
			.thread-config {
				display: flex;
				align-items: baseline;
				float: right;
				width: 40em;
				.thread-type {
					width: 40%;
					& > div {
						display: flex;
					}
				}
				.config-summary {
					display: flex;
					justify-content: space-around;
					align-items: baseline;
					width: 60%;
				}
			}
		}
		.threads-table {
			height: 60%;
			& > div {
				height: 100% !important;
				& > div:last-child {
					height: calc(~'100% - 50px') !important;
				}
			}
			tr:hover {
				background-color: gray;
			}
		}
	}
}
